.most-live-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.profile-edit{ 
    margin-top: calc(var(--margin-primary) / 1.5);
}


@media screen and (max-width:767px) {
    .live-title{
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 20px;
    }
}

@media screen and (max-width:494px){
    .live-title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        font-size: 15px ;
    }

}

